<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CodeTest\PriceGraphQl\Api\GraphQlPriceResultProcessorInterface" type="CodeTest\PriceGraphQl\Model\GraphQlPriceResultProcessor" />

    <type name="CodeTest\PriceGraphQl\Model\GraphQlPriceResultProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="priceResultProcessor" xsi:type="object">CodeTest\PriceGraphQl\Model\GraphQlPriceResultProcessor\Price</item>
            </argument>
        </arguments>
    </type>
</config>
